:local {
  .dashboard {
    margin-top: 40px;
    display: inline-block;
  }

  .noActivityArea {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
  }
}
