:local {
  @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

  .noActivity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Source Sans Pro";
    color: #bababa;
    font-size: 14px;
    font-weight: 400;

    svg {
      width: 60px;
      height: 60px;
      fill: #d3c1e5;
    }

    div {
      padding: 14px;
    }
  }
}
