.toolbar {
  width: 100%;
  position: fixed;
  background: #8560a9;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 200;
}

.toolbar-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.toolbar-logo {
  height: 24px;
  width: 24px;

  a {
    fill: #d5ef7f;
  }
}

.profile-pic {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
