@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

.filter-button-focus {
  background-color: #e5f7a9;
  padding: 5px;
  border-radius: 25px;
  margin: 10px;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 14px;
  color: #453257;
}

.filter-button {
  background-color: transparent;
  padding: 5px;
  border-radius: 25px;
  margin: 10px;
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}
