@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap");

// body {
//   height: 100%;
//   margin: 0;
//   background: linear-gradient(0deg, #8560a9a9, #8560a9a9),
//     url("../images/Street-Dance-01.jpg");
//   height: 100%;
//   width: 100%;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   overflow: hidden;
// }

html,
body {
  height: 100%;
  margin: 0;
}

.login-bg {
  height: 100%;
  margin: 0;
  background: linear-gradient(0deg, #8560a9a9, #8560a9a9),
    url("../images/Street-Dance-01.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: fixed;
}

.sub-title {
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding-top: 10%;
  color: #d5ef7f;
}

.main-title {
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  color: #d5ef7f;
}

.black-cat-logo {
  margin: 0 auto;
  padding: 20px;
  height: 10%;
  width: 10%;
  fill: #d5ef7f;
}

.user-login-form-area {
  margin: 80px;
  display: flex;
  justify-content: center;
}

.user-login-form {
  display: inline-block;
  justify-content: center;
}

.user-login-form-input-container {
  width: 100%;
  margin-bottom: 15px;
}

.user-login-form-input-field {
  width: 100%;
  padding: 10px;
  border-color: #d3c1e5;
  border-radius: 25px;
  border: #d3c1e5;
  border-width: thin;
  background: #ffffff59;
}

.user-login-form-input {
  width: 100%;
  border-radius: 25px;
  padding: 10px;
  outline: none;
}

.user-login-form-submit-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px;
  display: block;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
  float: left;
}
