@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

body, html {
    height: 100%;
    margin: 0;
    background: linear-gradient(0deg, #8560a9a9, #8560a9a9), url("../images/Street-Dance-01.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

img {
    width: 10%;
    height: 10%;
}

.sub-title {
    display: flex;
    justify-content: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    padding-top: 10%;
    color: #d5ef7f;
}

.main-title {
    display: flex;
    justify-content: center;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    color: #d5ef7f;
}

.black-cat-logo {
    padding: 40px;
    height: 20%;
    display: flex;
    justify-content: center;
}

.user-login-form {
    display: flex;
    justify-content: center;
}

.user-login-form-input {
    display: block;
    border-radius: 25px;
    padding: 5px;
}