@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

.side-drawer {
  height: 100%;
  background: #453257;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.2s ease-in;
}

.side-drawer.open {
  transform: translateX(0);
}

.date-title {
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro";
  color: #ac8ec9;
  font-weight: 600;
  font-size: 12px;
  padding: 15px;
  // use font family

  div {
    padding-bottom: 5px;
    border-bottom: 1px solid #ac8ec9;
  }
}

.filter-button-area {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
