@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

.searchButtonSidedrawer {
  height: 64px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 13px;
  background-color: #d5ef7f;
  position: absolute;
  bottom: 0;
  align-items: center;
}

.searchButtonSidedrawerContents {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  height: 40%;
  fill: #453257;
  color: #453257;
  font-family: "Source Sans Pro";
}

.searchButtonSidedrawerTitle {
  display: flex;
  justify-content: center;
  font-family: "Source Sans Pro";
  font-weight: 400;
  color: #8560a9;
  font-size: 10px;
}
